@{
    ViewBag.Title = "Главная";
}

<div id="main-content" data-ng-app="tasks">    
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="main-menu-controller">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="../" class="navbar-brand">JTasks</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">            
            </div>
        </nav>

    <div class="ajax-indicator">
        <img src="~/Content/images/ajax-loader.gif" />
    </div>
    <div data-ng-view></div>
</div>
