<h3>Пользователи</h3>

<div class="btn-toolbar grid-toolbar">
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm" ng-click="new()"><span class="glyphicon glyphicon-plus"></span></button>
        <button type="button" class="btn btn-default btn-sm" ng-click="remove()" ng-disabled="!user"><span class="glyphicon glyphicon-trash"></span></button>
        <button type="button" class="btn btn-default btn-sm" ng-click="view()" ng-disabled="!user" ><span class="glyphicon glyphicon-eye-open"></span></button>
        <button type="button" class="btn btn-default btn-sm" ng-click="edit()" ng-disabled="!user"><span class="glyphicon glyphicon-edit"></span></button>        
    </div>
    <div class="btn-group">        
        <button type="button" class="btn btn-default btn-sm" ng-click="changePassword()" ng-disabled="!user" ><span class="glyphicon glyphicon-lock"></span></button>
    </div>
</div>

<div class="grid-style" ng-grid="gridOptions">
</div>