<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.1.1" targetFramework="net45" />
  <package id="Bootstrapper" version="2.0.3.9" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net45" />
  <package id="NLog" version="2.1.0" targetFramework="net45" />
  <package id="Unity" version="3.0.1304.1" targetFramework="net45" />
</packages>