@model Web.Common.Auth.LoginView

@{
    ViewBag.Title = "Вход";
}

@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "formhorizontal" }))
{            
    <div class="input-control text span4 as-block">
        @Html.TextBox("Username", Model.Username, new { @class = "input-xlarge", placeholder = "Введите логин" })
        @Html.ValidationMessage("Username", new { @class = "validation-error" })        
    </div>
        
    <div class="input-control text span4 as-block">
        @Html.TextBox("Password", Model.Password, new { @class = "input-xlarge", placeholder = "Введите пароль", type="password" })
        @Html.ValidationMessage("Password", new { @class = "validation-error" })
    </div>
        
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Войти</button>
    </div>    
} 