@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Login", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-form pull-right" }))
    {
        @Html.AntiForgeryToken()
        <span class="navbar-text">
            @User.Identity.Name
            <a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-share-alt"></span></a>
        </span>
    }
}