<div class="page-header">
    <h1>Информация о проекте</h1>
</div>    

<div class="btn-toolbar grid-toolbar">
    <div class="btn-group">        
        <button type="button" class="btn btn-default btn-sm" ng-click="edit()"><span class="glyphicon glyphicon-edit"></span></button>        
    </div>    
</div>

<dl class="dl-horizontal">
    <dt>Название</dt>
    <dd>{{project.title}}</dd>
    <dt>Мастер</dt>
    <dd>{{project.masterName}}</dd>       
    <dt>Комментарий</dt>
    <dd>{{project.comment}}</dd>       
</dl>
